@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  min-height: 100vh;
}

.absolute-center {
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-name {
  word-spacing: -15px;
}

.title-div {
  transition: 0.5s;
}

.title-div:hover {
  text-shadow: 10px 10px oklch(var(--p) / 20%);
}

@keyframes title-to-nav {
  from {
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    width: max-content;
    top: 0;
    left: 0;
  }
}

@keyframes nav-to-title {
  from {
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    margin: 3px;
  }
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.title-to-nav {
  animation-name: title-to-nav;
  animation-duration: 1s;
}

.nav-to-title {
  animation-name: nav-to-title;
  animation-duration: 1s;
}

.skill-list {
  display: flex;
  flex-direction: column;
}

.skill-list li {
  display: flex;
  align-items: center;
}

.skill-list li img {
  aspect-ratio: 1/1;
  height: 50px;
  object-fit: contain;
  margin-right: 5px;
}

@keyframes container-color {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

.contact-content-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-size: 200%;
  animation: container-color 5s ease infinite;
  color: oklch(var(--b1));
  border-radius: 5px;
  background-image: linear-gradient(
    -45deg,
    oklch(var(--p)),
    oklch(var(--s)),
    oklch(var(--a)),
    oklch(var(--p))
  );
}

@keyframes project-page-flip {
  0% {
    transform: translateX(0);
    z-index: 50;
    opacity: 100;
  }
  50% {
    transform: translateX(100%) translateY(10px);
    z-index: 0;
  }
  100% {
    transform: translateX(0) translateY(20px);
    z-index: 0;
    opacity: 0;
  }
}

@keyframes project-page-flip-up {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(105%);
    opacity: 50;
  }
  100% {
    transform: scale(101%);
    opacity: 100;
  }
}

.project-preview {
  margin-bottom: 50px;
}

.project-preview > div {
  height: 600px;
}

.project-preview-animate div {
  animation-name: project-page-flip-up;
  animation-duration: 0.5s;
}

.project-preview-animate div:first-child {
  animation-name: project-page-flip;
  animation-duration: 0.5s;
}

.flip-page-button {
  position: absolute;
  right: -16px;
  top: 300px;
  z-index: 50;
  transform: rotate(90deg) scale(150%);
}

.select-project-animation {
  transform: translate(-30%, -320px) scale(10%) rotate(90deg);
  transition-duration: 1s;
  overflow-y: hidden;
}

.sticky-header {
  display: flex;
  position: sticky;
  border-bottom: 1px;
  border-style: solid;
  border-color: oklch(var(--s));
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  top: 32px;
  z-index: 2;
  background-color: oklch(var(--b1));
}

.list-left li {
  text-align: left;
}
