@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  min-height: 100vh;
}

.absolute-center {
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-name {
  word-spacing: -15px;
}

.title-div {
  transition: 0.5s;
}

.title-div:hover {
  text-shadow: 10px 10px oklch(var(--p) / 20%);
}

@keyframes title-to-nav {
  from {
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    width: max-content;
    top: 0;
    left: 0;
  }
}

@keyframes nav-to-title {
  from {
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    margin: 3px;
  }
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.title-to-nav {
  animation-name: title-to-nav;
  animation-duration: 1s;
}

.nav-to-title {
  animation-name: nav-to-title;
  animation-duration: 1s;
}

.skill-list {
  display: flex;
  flex-direction: column;
}

.skill-list li {
  display: flex;
  align-items: center;
}

.skill-list li img {
  height: 20px;
  object-fit: contain;
  margin-right: 5px;
}

.contact-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@keyframes container-color {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

.contact-icon-container:hover {
  background-size: 200%;
  animation: container-color 5s ease infinite;
  border-radius: 5px;
  background-image: linear-gradient(
    -45deg,
    oklch(var(--p)),
    oklch(var(--s)),
    oklch(var(--a)),
    oklch(var(--p))
  );
}

.tab-custom {
  outline-offset: 5px;
}
